#!/usr/bin/env python
PACKAGE = "humanoid_msgs"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("vx",     double_t,    5, "VX",  0, -1,1)
gen.add("vy",     double_t,    6, "VY",  0, -1,1)
gen.add("vz",     double_t,    7, "VZ",  0, -90,90)
gen.add("slope",  double_t,    5, "Slope",  0,  -20,20)
gen.add("walk_flag",    bool_t,      11, "Walk",  False)

exit(gen.generate(PACKAGE, "humanoid_msgs", "HumanoidLipWalkingCmd"))
